---
import {
  type CollectionEntry,
  getCollection,
  getEntry,
  render,
} from 'astro:content';
import Article from '@/components/FullArticle.astro';
import GlobalLayout from '@/layouts/Root.astro';

const lang = 'uk';

export async function getStaticPaths() {
  const posts = await getCollection('articles', ({data}) => {
    // if (data.lang !== lang) return false;
    if (data.draft) return false;
    return true;
  });

  return posts.flatMap((post) => {
    return [
      {params: {slug: post.data.permalink}, props: post},
      ...post.data.redirect_from.map((redirect_from) => ({
        params: {slug: redirect_from},
        props: post,
      })),
    ];
  });
}

const {slug} = Astro.params;
const {id, data} = Astro.props;

if (slug !== data.permalink) {
  return Astro.redirect(`/${data.permalink}`, 301);
}
---

<GlobalLayout
  lang={lang}
  title={data.title}
  description={data.description}
  keywords={data.keywords}
  author={data.author}
>
  <main>
    <Article id={id} />
  </main>
</GlobalLayout>
